.gradle
!gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### SpringBoot ###
application.*
!application.templates.yml

### Firebase ###
firebase_develop_key.json

.DS_Store
smup-444d5-firebase-adminsdk-vw1qu-df0d795261.json
src/main/resources/smup-444d5-firebase-adminsdk-vw1qu-df0d795261.json
